<!--
  <app-pwa-header [navItems]="items">
  <div logo>this is my logo</div>
  <div icon>this is my icons</div>
</app-pwa-header>
-->


<!-- <app-pwa-form [formController]="componentController" (result)="getResult($event)"></app-pwa-form> -->

<!-- <app-pwa-cart [cartController]="cartController"></app-pwa-cart> -->

<!-- <app-pwa-image></app-pwa-image> -->

<!-- <div class="checkbox-test" >
  <app-pwa-checkboxes [taskController]="task"></app-pwa-checkboxes>
  <button type="button" (click)="testCheckbox()" >Test</button>
</div> -->

<!-- <app-pwa-autoinput></app-pwa-autoinput> -->

<app-pwa-floatbutton></app-pwa-floatbutton>

