<div class="complete">
  <div class="complete__input" >
    <mat-form-field >
      <mat-label>{{label}}</mat-label>
      <input matInput type="text"
          [placeholder]="placeholder ? placeholder : ''"
          [formControl]="control"
          [matAutocomplete]="auto">
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let street of filteredToList | async" [value]="street">
        {{street}}
      </mat-option>
    </mat-autocomplete>
  </div>
  <div class="complete__button">
    <button mat-raised-button color="primary" type="button" (click)="clickButton()">Add</button>
  </div>
</div>
