$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


.navigation {


    &__sticky{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1500;
    background-image: radial-gradient($color-secondary-light, $color-secondary-dark);
  }

  &__sticky-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }


  &__checkbox{
    display: none;
  }

  &__button{
    cursor: pointer;
  }

  &__nav{
    position: fixed;
    z-index: 1250;
    min-width: 15%;
    height: 100%;
    top: -100%;
    left: 0;
    transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
    box-shadow: 0 1rem 3rem rgba($color-black, .1);
    background-image: radial-gradient($color-secondary-light, $color-secondary-dark);
  }

  &__list{
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
  }

  &__item{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-align: center;
    text-shadow: #000;
    &:hover{
      background-color: $color-white;
    }
  }

  &__link{
    text-decoration: none;
    padding:0.5rem;
    color:$color-black;
  }

  &__checkbox:checked ~ &__nav{
    top: 2.5rem;
  }

  &__icon {
    position: relative;
    margin-top: 1.5rem;
    margin-left: .7rem;

    &,
    &::before,
    &::after {
        width: 1.5rem;
        height: 1px;
        background-color: $color-grey-dark-3;
        display: inline-block;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s;
    }

    &::before { top: -.5rem; }
    &::after { top: .5rem; }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
      top: 1rem;
  }

}
